# Learning unit 1 (Working with data) - Exercise

In [ ]:
# imports, feel free to ignore this for now 
import pandas as pd 
from matplotlib import pyplot as plt 
% matplotlib inline

### Warm up!

#### 1. Add 3 and 11

In [ ]:
# Write code here (~1 line)

    Expected output: 14

#### 2. Make a function that receives an input, adds 3 to it, and then doubles it

In [ ]:
def add_3_and_double(x):    
    # complete code here (~1 line)

In [ ]:
print(add_3_and_double(3), add_3_and_double(-5))

    Expected output: 12 -4

### Getting started with Pandas

#### 1. Load the titanic dataset 
*Hint: it's called `titanic.csv`, and located in the `data` folder*

In [ ]:
titanic = # complete code here (~1 line)

#### 2. Observe the first 4 lines

In [ ]:
# complete code here (~1 line)

    Expected output: 
![](https://i.imgur.com/NtApDNm.png)

#### 3. Figure out the number of rows and columns, by calling the right method

In [ ]:
# complete code here (~1 line)

    Expected output: (891, 9)

#### 3. How many people died on the titanic, and how many survived?

In [ ]:
# figure out the answer here (~1 line)

In [ ]:
# type the answers here (you can hard code them)
nr_survived =  
nr_died =

In [ ]:
print('On the titanic, %0.0f people died, and %0.0f people survived' % (nr_died, nr_survived))

    Expected output: On the titanic, 549 people died, and 342 people survived

#### 4. What was the age of the oldest person on the Titanic?

In [ ]:
# complete the following (~1 line)
oldest_persons_age =

In [ ]:
print('The oldest person on the titanic was %0.0f years old' % oldest_persons_age)

    Expected output: The oldest person on the titanic was 80 years old

#### 5. What were the survival odds for men? And for women?

In [ ]:
# find the answer here (you can do it in 1 line, or take the long road)

In [ ]:
# hard code your answers here (2 decimals is enough)
survival_rate_for_men = 
survival_rate_for_women =

In [ ]:
print('The survival rate for men was %0.1f%%, and for women it was %0.1f%%' % (survival_rate_for_men*100, 
                                                                              survival_rate_for_women*100))

    Expecetd output: The survival rate for men was 18.9%, and for women it was 74.2%

### Preparing a dataset for predictions

#### 1. Make a fully numeric dataset from the titanic dataset:

In [ ]:
# complete code here (~1 line)
titanic_dummies =

In [ ]:
print('The dataset now has %0.0f rows and %0.0f columns, while the original had only %0.0f columns'
      % (titanic_dummies.shape[0], titanic_dummies.shape[1], titanic.shape[1]))

    Expected output: The dataset now has 891 rows and 12 columns, while the original had only 9 columns

#### 2. Save your prepared dataset to a csv, called `prepared_titanic.csv`, in the `data` folder